body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.container{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    background-color: green;
    flex: 0 1 350px;
    justify-content: center;
}

.btncontainer{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    flex: 0 1 300px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 7px;
}

button{
    background-color: red;
    height: 60px;
    width: 70px;
    cursor: pointer;
    font-size: larger;
    font-weight:bolder;
}

.screen{
    background-color: lightgray;
    border: 3px solid green;
    height: 100px;
    width: 300px;
    margin: 5px 25px;
}
.zero{
    flex-grow: 2;
}