body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.container{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    background-color: pink;
    width: 375px;
    justify-content: center;
}

.btncontainer{
    display: flex;
    border-top: 1px solid black;
    flex-wrap: wrap;
    flex: 0 1;
    width: 359px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 7px;
}

button{
    background-color:antiquewhite;
    height: 60px;
    width: 70px;
    cursor: pointer;
    font-size: larger;
    font-weight:bolder;
}

.screen{
    background-color: lightgray;
    border: 3px solid silver;
    height: 100px;
    width: 300px;
    margin: 5px;
    align-self: center;
}
