body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.container{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    background-color: pink;
    width: 375px;
    justify-content: center;
    border-radius: 18px;
    padding: 20px 0;
}

.btncontainer{
    display: flex;
    border-top: 2px solid black;
    flex-wrap: wrap;
    flex: 0 1;
    width: 359px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 7px;
    border-radius: 18px;

}

button{
    background-color:whitesmoke ;
    color:grey ;
    height: 60px;
    width: 70px;
    cursor: pointer;
    font-size: larger;
    font-weight:bolder;
    border-radius: 8px;
}

.screen{
    background-color: lightgray;
    border: 3px solid silver;
    height: 100px;
    width: 300px;
    margin: 5px;
    align-self: center;
    border-radius: 18px;
    padding: 0 10px;

}

.op{
    color: blue;
}

p{
    font-size:50px;
    font-family: "Momo Signature", cursive;
    margin: 10px;
}

.backslash{
    font-size: xx-large;
    font-weight: bolder;
    align-content: center;
}

.decimal{
    font-size: xx-large;
    font-weight: bolder;
    align-content: center;
}

.zero{
    flex-grow: 1;
}

.equal{
    flex-grow: 1;
    background-color: aquamarine;
}

.number{
    background-color: lightblue;
}

.C{
    color: red;
}

